
<br />
<h2>About Run Chicago!</h2>
<p>
  We here at run chicago are passionate about long distance running and making sure runners have the right gear for the job.
</p>


<br/>

</br/>
<%= image_tag('chicago.jpg') %>
