<center><h1>Run Chicago!</h1></center><br />

<center><p>Get some gear and run!</p>


<br />

<%= link_to "View our products", store_shop_path %>
<%= link_to "Administrative page", admin_dashboard_path %></center>
