<center><h1>Run Chicago!</h1></center><br />

<center><p>Get some gear and run!</p>

  <table> <tr>
  	<td width="85%"> SHOWCASE COURSES </td>

  	<td width="15%">

  		<% @promotions.each do |promotion| %>
  			<hr>
  			<p> <%= promotion.title  %></br>
  				<%= promotion.description %></br>
  				<%= image_tag promotion.imagepath, size:"128x128" %><p>
  		<% end %>
  	</td>
  </tr></table>


<br />
