<div class="container">
  <h1>Admin Dashboard</h1>
  <p>Manage resources, edit customers and other operations</p>
  <p id="notice"><%= notice %></p>

  <br />

  <h3>Reports</h3>
  <p>
  --> <%= link_to 'Feedback Report', reports_feedback_path %>
  </p>
  <p>
  --> <%= link_to 'Sales Report', reports_sales_path %>
  </p>

</div>
